@using AspireAppTemplate.Shared
@using MudBlazor
@inject ISnackbar Snackbar
@using Microsoft.Extensions.Localization
@using AspireAppTemplate.Shared.Resources
@inject IStringLocalizer<SharedResource> Loc

<MudDialog>
    <TitleContent>
        <div class="d-flex align-center">
            <MudIcon Icon="@(string.IsNullOrEmpty(Model.Id) ? Icons.Material.Filled.PersonAdd : Icons.Material.Filled.Person)" 
                     Class="mr-3" Color="Color.Primary" />
            <MudText Typo="Typo.h6">@(string.IsNullOrEmpty(Model.Id) ? Loc["User_Create"] : Loc["User_Edit"])</MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudForm @ref="_form" @bind-IsValid="_isValid">
            <MudGrid Spacing="2">
                <MudItem xs="12" sm="6">
                    <MudTextField T="string" Label="@Loc["User_Username"]" 
                                 @bind-Value="Model.Username" 
                                 Required="true" 
                                 RequiredError="@Loc["RequiredError", Loc["User_Username"]]"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense"
                                 Disabled="@(!string.IsNullOrEmpty(Model.Id))" />
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudTextField T="string" Label="@Loc["User_Email"]" 
                                 @bind-Value="Model.Email" 
                                 Required="true" 
                                 RequiredError="@Loc["RequiredError", Loc["User_Email"]]"
                                 InputType="InputType.Email"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense" />
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudTextField T="string" Label="@Loc["User_LastName"]" 
                                 @bind-Value="Model.LastName" 
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense" />
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudTextField T="string" Label="@Loc["User_FirstName"]" 
                                 @bind-Value="Model.FirstName" 
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" 
                                 Label="@(string.IsNullOrEmpty(Model.Id) ? Loc["User_InitialPassword"] : Loc["User_ResetPassword"])" 
                                 @bind-Value="Password" 
                                 InputType="@_passwordInput" 
                                 Adornment="Adornment.End"
                                 AdornmentIcon="@_passwordInputIcon"
                                 OnAdornmentClick="TogglePasswordVisibility"
                                 Required="@string.IsNullOrEmpty(Model.Id)" 
                                 RequiredError="@Loc["RequiredError", Loc["Password"]]"
                                 Variant="Variant.Outlined"
                                 Margin="Margin.Dense" />
                </MudItem>
                @if (!string.IsNullOrEmpty(Model.Id))
                {
                    <MudItem xs="12">
                        <MudCheckBox T="bool" @bind-Value="Model.Enabled" Label="@Loc["User_Enabled"]" Color="Color.Primary" />
                    </MudItem>
                }
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Variant="Variant.Text" Class="px-6">@Loc["Cancel"]</MudButton>
        <MudButton Color="Color.Primary" 
                   OnClick="Submit" 
                   Variant="Variant.Filled" 
                   Disabled="@(!_isValid)" 
                   Class="px-8 ml-2"
                   DisableElevation="true">@Loc["Save"]</MudButton>
    </DialogActions>
</MudDialog>


