<MudExpansionPanel HideIcon="true">
    <TitleContent>
        <div class="d-flex">
            <MudText Class="mt-1">自訂表格樣式</MudText>
            <MudAvatar Color="Color.Primary" Class="d-flex ml-auto"
                style="width: 30px;height:30px;font-size:small!important">T
            </MudAvatar>
        </div>
    </TitleContent>
    <ChildContent>
        <div @onclick:stopPropagation="true">
            <MudSwitch T="bool" Label="緊湊" Color="Color.Info" @oninput="@ToggleDenseSwitch" @bind-Value="@IsDense" />
            <MudSwitch T="bool" Label="條紋" Color="Color.Info" @oninput="@ToggleStripedSwitch"
                       @bind-Value="@IsStriped" />
            <MudSwitch T="bool" Label="邊框" Color="Color.Info" @oninput="@ToggleBorderedSwitch"
                       @bind-Value="@HasBorder" />
            <MudSwitch T="bool" Label="交錯顯示" Color="Color.Info" @oninput="@ToggleHoverableSwitch"
                       @bind-Value="@IsHoverable" />
        </div>
    </ChildContent>
</MudExpansionPanel>


