<MudExpansionPanel HideIcon="true">
    <TitleContent>
        <div class="d-flex">
            <MudText Class="mt-1">@Loc["ThemeManager_TableCustomization"]</MudText>
            <MudAvatar Color="Color.Primary" Class="d-flex ml-auto"
                style="width: 30px;height:30px;font-size:small!important">T
            </MudAvatar>
        </div>
    </TitleContent>
    <ChildContent>
        <div @onclick:stopPropagation="true">
            <MudSwitch T="bool" Label="@Loc["ThemeManager_Dense"]" Color="Color.Info" @oninput="@ToggleDenseSwitch" @bind-Value="@IsDense" />
            <MudSwitch T="bool" Label="@Loc["ThemeManager_Striped"]" Color="Color.Info" @oninput="@ToggleStripedSwitch"
                       @bind-Value="@IsStriped" />
            <MudSwitch T="bool" Label="@Loc["ThemeManager_Bordered"]" Color="Color.Info" @oninput="@ToggleBorderedSwitch"
                       @bind-Value="@HasBorder" />
            <MudSwitch T="bool" Label="@Loc["ThemeManager_Hoverable"]" Color="Color.Info" @oninput="@ToggleHoverableSwitch"
                       @bind-Value="@IsHoverable" />
        </div>
    </ChildContent>
</MudExpansionPanel>


