@using AspireAppTemplate.Web.Infrastructure.Settings
@using AspireAppTemplate.Web.Infrastructure.Themes

<MudDrawer Anchor="Anchor.Right" Open="_open" OpenChanged="OnOpenChanged" Elevation="25" Variant="@DrawerVariant.Temporary"
    Width="350px" Height="100vh" OverlayAutoClose="true">
    <MudDrawerHeader Class="align-center">
        <MudText Typo="Typo.h6">
            @Loc["ThemeManager_Title"]
        </MudText>
        <MudSpacer />
        <MudIconButton Color="Color.Default" Icon="@Icons.Material.Filled.Close"
            OnClick="@CloseDrawer" Size="Size.Small" />
    </MudDrawerHeader>
    <MudDivider Style="margin-bottom:10px!important" />
    <div style="padding:20px!important">
        <MudExpansionPanels DisableBorders="true" Elevation="25">
            <DarkModePanel OnIconClicked="ToggleDarkLightMode" />
            <ColorPanel OnColorClicked="UpdateThemePrimaryColor" 
                        Colors="_colors" 
                        ColorType="@Loc["ThemeManager_PrimaryColor"]"
                        CurrentColor="Color.Primary" />
            <ColorPanel OnColorClicked="UpdateThemeSecondaryColor" 
                        Colors="_colors" 
                        ColorType="@Loc["ThemeManager_SecondaryColor"]"
                        CurrentColor="Color.Secondary" />
            <RadiusPanel Radius="ThemePreference==null ? 0 : ThemePreference.BorderRadius"
                OnSliderChanged="UpdateBorderRadius" />
            <TableCustomizationPanel 
                OnDenseSwitchToggled="ToggleEntityTableDense"
                OnStripedSwitchToggled="ToggleEntityTableStriped" 
                OnBorderdedSwitchToggled="ToggleEntityTableBorder"
                OnHoverableSwitchToggled="ToggleEntityTableHoverable" />

             <MudExpansionPanel HideIcon="true">
                <TitleContent>
                    <div class="d-flex">
                        <MudText Class="mt-1">@Loc["ThemeManager_Layout"]</MudText>
                        <MudAvatar Color="Color.Primary" Class="d-flex ml-auto"
                            style="width: 30px;height:30px;font-size:small!important">L
                        </MudAvatar>
                    </div>
                </TitleContent>
                <ChildContent>
                     <div @onclick:stopPropagation="true">
                        <MudSwitch T="bool" Label="@Loc["ThemeManager_Boxed"]" Color="Color.Info" 
                                   Value="@(ThemePreference?.IsBoxed ?? false)" 
                                   ValueChanged="ToggleBoxedMode" />
                    </div>
                </ChildContent>
             </MudExpansionPanel>

            <MudButton Variant="Variant.Filled" Color="Color.Error" FullWidth="true" Class="mt-4"
                       OnClick="ResetToDefault">
                @Loc["ThemeManager_Reset"]
            </MudButton>
        </MudExpansionPanels>
    </div>
</MudDrawer>
