@page "/weather"
@using AspireAppTemplate.Shared
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]
@inject WeatherApiClient WeatherApi

<PageTitle>Weather</PageTitle>

<PageHeader Icon="@Icons.Material.Filled.Cloud" 
            Title="@Loc["Weather_Title"]" 
            Description="@Loc["Weather_Description"]">
    <MudButton Variant="Variant.Outlined" 
               Color="Color.Primary" 
               StartIcon="@Icons.Material.Filled.Refresh"
               OnClick="LoadData"
               Disabled="@(forecasts == null)">
        @Loc["Refresh"]
    </MudButton>
</PageHeader>

<MudPaper Elevation="2" Class="pa-0">
    @if (forecasts == null)
    {
        <div class="pa-6 d-flex justify-center">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        </div>
    }
    else
    {
        <AppDataGrid T="WeatherForecast" Items="@forecasts" Filterable="false" SortMode="SortMode.Single">
            <Columns>
                <TemplateColumn T="WeatherForecast" Title="@Loc["Weather_Date"]">
                    <CellTemplate Context="cellContext">
                        <MudText>@cellContext.Item.Date.ToString("yyyy/MM/dd")</MudText>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn T="WeatherForecast" Title="@Loc["Weather_TempC"]">
                    <CellTemplate Context="cellContext">
                        @{
                            var temp = cellContext.Item.TemperatureC;
                            var color = GetTemperatureColor(temp);
                            var icon = GetTemperatureIcon(temp);
                        }
                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                            <MudIcon Icon="@icon" Color="@color" Size="Size.Small" />
                            <MudText>@temp</MudText>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn T="WeatherForecast" Title="@Loc["Weather_TempF"]">
                    <CellTemplate Context="cellContext">
                        <MudText>@cellContext.Item.TemperatureF</MudText>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn T="WeatherForecast" Title="@Loc["Weather_Summary"]">
                    <CellTemplate Context="cellContext">
                        <MudChip T="string" Size="Size.Small" Color="Color.Default" Variant="Variant.Outlined">
                            @cellContext.Item.Summary
                        </MudChip>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="WeatherForecast" />
            </PagerContent>
            <NoRecordsContent>
                <MudStack AlignItems="AlignItems.Center" Class="pa-8">
                    <MudIcon Icon="@Icons.Material.Filled.CloudOff" Size="Size.Large" Color="Color.Default" />
                    <MudText Typo="Typo.body1" Color="Color.Default">@Loc["NoRecords"]</MudText>
                </MudStack>
            </NoRecordsContent>
        </AppDataGrid>
    }
</MudPaper>
