@using Microsoft.AspNetCore.Components.Authorization

<MudDrawerHeader Class="px-4 py-2 d-flex align-center" Style="min-height: 64px;">
    <AuthorizeView>
        <Authorized>
            <MudAvatar Color="Color.Primary" Size="Size.Small">
                <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Small" />
            </MudAvatar>
            @if (IsOpen)
            {
                <div class="ml-3">
                    <MudText Typo="Typo.subtitle1">@context.User.Identity?.Name</MudText>
                    <MudText Typo="Typo.caption" Class="mud-text-secondary">@Loc["User_Authenticated"]</MudText>
                </div>
            }
        </Authorized>
        <NotAuthorized>
            <MudAvatar Size="Size.Small">
                <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Small" />
            </MudAvatar>
            @if (IsOpen)
            {
                <div class="ml-3">
                    <MudText Typo="Typo.subtitle1">@Loc["User_Guest"]</MudText>
                </div>
            }
        </NotAuthorized>
    </AuthorizeView>
</MudDrawerHeader>

<MudNavMenu>
    @if (IsOpen)
    {
        <MudText Typo="Typo.subtitle2" Color="Color.Secondary" Class="ml-4 my-3">@Loc["Nav_Dashboard"]</MudText>
    }
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">@Loc["Nav_Dashboard"]</MudNavLink>
    <MudNavLink Href="counter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AddCircle">@Loc["Nav_Counter"]</MudNavLink>
    <MudNavLink Href="products" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ShoppingCart">@Loc["Nav_Products"]</MudNavLink>
    <MudNavLink Href="weather" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Cloud">@Loc["Nav_Weather"]</MudNavLink>
    
    <AuthorizeView Policy="@AppPolicies.CanManageProducts">
        <Authorized>
            @if (IsOpen)
            {
                <MudText Typo="Typo.subtitle2" Color="Color.Secondary" Class="ml-4 my-3">@Loc["Nav_Admin"]</MudText>
            }
            <MudNavLink Href="admin/users" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.People">@Loc["Nav_Users"]</MudNavLink>
            <MudNavLink Href="admin/roles" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Security">@Loc["Nav_Roles"]</MudNavLink>
            <MudNavLink Href="custom-jobs" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Schedule">@Loc["Nav_CustomJobs"]</MudNavLink>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Policy="@AppPolicies.CanManageSystem">
        <Authorized>
            @if (IsOpen)
            {
                <MudText Typo="Typo.subtitle2" Color="Color.Secondary" Class="ml-4 my-3">@Loc["Nav_System"]</MudText>
            }
            <MudNavLink Href="@GetHangfireUrl()" Target="_blank" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Dashboard">Hangfire</MudNavLink>
            <MudNavLink Href="audit-logs" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.History">@Loc["Nav_AuditLogs"]</MudNavLink>
            <MudNavLink Href="http://localhost:9001" Target="_blank" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Storage">@Loc["Nav_MinIO"]</MudNavLink>
        </Authorized>
    </AuthorizeView>


    @if (IsOpen)
    {
        <MudText Typo="Typo.subtitle2" Color="Color.Secondary" Class="ml-4 my-3">@Loc["Nav_TechTest"]</MudText>
    }
    <MudNavLink Href="token" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Token">@Loc["Nav_Tokens"]</MudNavLink>
    <MudNavLink Href="notifications-demo" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Notifications">@Loc["Nav_Notifications"]</MudNavLink>
    <MudNavLink Href="storage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CloudUpload">@Loc["Nav_FileStorage"]</MudNavLink>
    
    <VersionDisplay />
</MudNavMenu>
